@tailwind base;
@tailwind components;
@tailwind utilities;

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (CHROME, SAFARI, OPERA) */
body::-webkit-scrollbar {
  width: 0 !important;
}

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (FIREFOX) */
@-moz-document url-prefix() {
  html {
    scrollbar-width: none;
  }
}


.customTransition {
  transition: transform 0.1s linear, box-shadow 0.1s linear;
}

#not-selected {
  color: rgb(41 50 100 / 0.4);
}

#correct {
  border: 1px solid #94d7a2;
  background-color: #94d7a2;
}

#incorrect {
  border: 1px solid #f8bcbc;
  background-color: #f8bcbc;
}

}
