@tailwind base;
@tailwind components;
@tailwind utilities;

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (CHROME, SAFARI, OPERA) */
body::-webkit-scrollbar {
  width: 0 !important;
}

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (FIREFOX) */
@-moz-document url-prefix() {
  html {
    scrollbar-width: none;
  }
}


.customTransition {
  transition: transform 0.1s linear, box-shadow 0.1s linear;
}
}
